.mui-btn{
  position: relative;
  width: 350px;
  padding: 0 !important;
  &-link-control{
    text-decoration: none;
    font-size: 20px;
    width: 100%;
    height: 100%;
    background-color:var(--button);
    color: var(--face);
    padding: 14px 20px;
  }
}
